<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>

	<link th:replace="~{layoutGerencia :: fragmento-head}">

	<style>
		.odd {
			background-color: #f2f2f2;
			/* Define a cor de fundo para linhas ímpares */
		}

		.even {
			background-color: #ffffff;
			/* Define a cor de fundo para linhas pares */
		}


		.form-group {
			margin-bottom: 15px;
		}

		.form-group input {
			width: 25%;
		}

		.form-group button {
			margin-top: 10px;
		}
	</style>

</head>

<body>

	<link th:replace="~{layoutGerencia :: fragmento-header}">

	<div class="container-fluid sidebar">
		<div class="row">
			<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
				<div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
					aria-labelledby="sidebarMenuLabel">

					<link th:replace="~{layoutGerencia :: fragmento-lateral}">

				</div>
			</div>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

				<div th:if="${cliente_lista != null}">

					<script>
						function confirmDelete() {
							if (confirm('Tem certeza que deseja deletar este cliente?')) {
								// Exibe a mensagem de sucesso após a confirmação
								alert('Cliente deletado com sucesso.');
								return true; // Continua com a exclusão
							} else {
								return false; // Cancela a exclusão
							}
						}
					</script>

					<div
						class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h1 class="h2">Gerenciar Clientes - Listar</h1>
					</div>

					<table>
						<thead>
							<tr>
								<th style="padding: 20px; text-align: center;">ID</th>
								<th style="padding: 20px; text-align: center;">Nome</th>
								<th style="padding: 20px; text-align: center;">Email</th>
								<th style="padding: 20px; text-align: center;">CPF</th>
								<th style="padding: 20px; text-align: center;">Telefone</th>
								<th style="padding: 20px; text-align: center;">Saldo</th>
								<th style="padding: 20px; text-align: center;">Ações</th>
								<!-- Adicione mais colunas conforme necessário -->
							</tr>
						</thead>
						<tbody>
							<tr th:each="cliente, i : ${cliente_lista}" th:class="${i.odd}? 'odd' : 'even'">
								<td th:text="${cliente.id}" style="padding: 20px; text-align: center;">ID do Cliente
								</td>
								<td th:text="${cliente.nome}" style="padding: 20px; text-align: center;">Nome do Cliente
								</td>
								<td th:text="${cliente.Usuario.email}" style="padding: 20px; text-align: center;">Email
									do Cliente</td>
								<td th:text="${cliente.cpf}" style="padding: 20px; text-align: center;">CPF do Cliente
								</td>
								<td th:text="${cliente.telefone}" style="padding: 20px; text-align: center;">Telefone do
									Cliente</td>

								<td style="padding: 20px; text-align: center;">R$: <span
										th:text="${cliente.carteira.saldoDisponivel}">Saldo do Cliente</span></td>


								<td style="padding: 20px; text-align: center;">

									<a th:href="@{/carrinho/carrinho/{id}(id=${cliente.id})}"
										class="btn btn-success rounded-pill px-3">Carrinho</a> &nbsp;

									<a th:href="@{/cliente/atualizar/{id}(id=${cliente.id})}"
										class="btn btn-primary rounded-pill px-3">Editar</a> &nbsp;

									<a th:href="@{/cliente/deletarGerencia/{id}(id=${cliente.id})}"
										class="btn btn-danger rounded-pill px-3"
										onclick="return confirmDelete()">Deletar</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div th:if="${cliente != null}">

					<link rel="stylesheet"
						href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

					<div
						class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h1 class="h2">Gerenciar Clientes - Carrinho</h1>
						<a th:href="@{/compra/finalizarCompra/{id}(id=${cliente.id})}">
							<button type="submit" class="btn btn-success">Finalizar
								Compra</button>
						</a>
					</div>

					<table>
						<thead>
							<tr>
								<th style="padding: 20px; text-align: center;">ID</th>
								<th style="padding: 20px; text-align: center;">Nome</th>
								<th style="padding: 20px; text-align: center;">Descrição</th>
								<th style="padding: 20px; text-align: center;">Preço</th>
								<th style="padding: 20px; text-align: center;">Quantidade</th>
								<th style="padding: 20px; text-align: center;">Ações</th>
								<!-- Adicione mais colunas conforme necessário -->
							</tr>
						</thead>
						<tbody>
							<tr th:each="listaDeItens, i : ${cliente.carrinho.listaDeItems}"
								th:class="${i.odd}? 'odd' : 'even'">

								<td th:text="${listaDeItens.id}" style="padding: 20px; text-align: center;">ID do
									Produto</td>

								<td th:text="${listaDeItens.produto.nome}" style="padding: 20px; text-align: center;">
									Nome</td>

								<td th:text="${listaDeItens.produto.descricao}"
									style="padding: 20px; text-align: center;">Descrição</td>

								<td th:text="${listaDeItens.produto.preco}" style="padding: 20px; text-align: center;">
									R$: <span>Preço</span></td>

								<td th:text="${listaDeItens.quantidade}" style="padding: 20px; text-align: center;">
									Quantidade</td>

								<td style="padding: 20px; text-align: center;">

									<a th:data-iditem="${listaDeItens.id}" class="btn btn-primary rounded-pill px-3"
										th:data-target="'#editarModal-' + ${listaDeItens.id}"
										th:attr="onclick='setIdItem(' + ${listaDeItens.id} + ')'"
										data-toggle="modal">Editar</a> &nbsp;

									<div class="modal" th:id="'editarModal-' + ${listaDeItens.id}" tabindex="-1"
										role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true"
										style="display: none;">

										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="editarModalLabel">Editar Quantidade</h5>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Fechar">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>

												<div class="modal-body">
													<form id="formEditar"
														th:action="@{/carrinho/editarItemNoCarrinho(carrinhoId=${cliente.carrinho.id}, itemId=${listaDeItens.id})}"
														method="post">
														<div class="form-group">
															<label for="novaQuantidade">Nova Quantidade:</label>
															<input type="number" class="form-control"
																id="novaQuantidade" name="novaQuantidade"
																th:value="${listaDeItens.quantidade}" required min="0">
														</div>
												</div>

												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">Cancelar</button>
													<button type="submit" class="btn btn-primary"
														id="btnSalvar">OK</button>
												</div>
												</form>
											</div>
										</div>
									</div>


									<a th:href="@{/carrinho/removerProdutoDoCarrinho/{idCarrinho}/{idItem}(idCarrinho=${cliente.carrinho.id}, idItem=${listaDeItens.id})}"
										th:with="idCarrinho=${cliente.carrinho.id}"
										class="btn btn-danger rounded-pill px-3"
										onclick="return confirmDelete()">Remover</a>
								</td>
							</tr>
						</tbody>
					</table>



					<div class="mt-4">
						<div class="row">
							<div class="col-sm-6">
								<h6>Valor Total: <span th:text="'R$ ' + ${cliente.carrinho.valorTotal}"></span></h6>
							</div>
						</div>
						<br><br>
						<div
							class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						</div>
						<form th:object="${item}"
							th:action="@{'/carrinho/adicionarProdutoNoCarrinho/' + ${cliente.carrinho.id}}"
							method="post" class="form">
							<div class="form-group">
								<label for="idProduto">ID do Produto:</label>
								<input type="text" id="idProduto" name="idProduto" class="form-control"
									th:field="*{produto.id}">
							</div>
							<div class="form-group">
								<label for="quantidade">Quantidade:</label>
								<input type="number" id="quantidade" name="quantidade" class="form-control"
									th:field="*{quantidade}" required min="0">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Adicionar ao Carrinho</button>
							</div>
						</form>
					</div>
				</div>

		</div>

		</main>

	</div>
	</div>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

	<script>


		function confirmDelete() {
			if (confirm('Tem certeza que deseja remover este Item?')) {
				// Exibe a mensagem de sucesso após a confirmação
				alert('item removido com sucesso.');
				return true; // Continua com a exclusão
			} else {
				return false; // Cancela a exclusão
			}
		}


		function setIdItem(idItem) {
			var modalId = "editarModal-" + idItem;
			document.getElementById('idItemModal').value = idItem;
			var modal = document.getElementById(modalId);
			var modalDialog = modal.querySelector('.modal-dialog');
			modalDialog.style.display = 'block';
			modal.style.display = 'block';
			var backdrop = document.createElement('div');
			backdrop.classList.add('modal-backdrop', 'fade', 'show');
			document.body.appendChild(backdrop);
		}

	</script>

</body>

</html>