<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>

	<link th:replace="~{layoutGerencia :: fragmento-head}">

	<style>
		.odd {
			background-color: #f2f2f2;
			/* Define a cor de fundo para linhas ímpares */
		}

		.even {
			background-color: #ffffff;
			/* Define a cor de fundo para linhas pares */
		}
	</style>

</head>

<body>

	<link th:replace="~{layoutGerencia :: fragmento-header}">

	<div class="container-fluid sidebar">
		<div class="row">
			<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
				<div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
					aria-labelledby="sidebarMenuLabel">

					<link th:replace="~{layoutGerencia :: fragmento-lateral}">

				</div>
			</div>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

				<script>
					function confirmDelete() {
						if (confirm('Tem certeza que deseja deletar este funcionario?')) {
							// Exibe a mensagem de sucesso após a confirmação
							alert('Funcionario deletado com sucesso.');
							return true; // Continua com a exclusão
						} else {
							return false; // Cancela a exclusão
						}
					}
				</script>

				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">Gerenciar Funcionarios - Listar</h1>
				</div>

				<table>
					<thead>
						<tr>
							<th style="padding: 20px; text-align: center;">ID</th>
							<th style="padding: 20px; text-align: center;">Nome</th>
							<th style="padding: 20px; text-align: center;">Email</th>
							<th style="padding: 20px; text-align: center;">CPF</th>
							<th style="padding: 20px; text-align: center;">Telefone</th>
							<th style="padding: 20px; text-align: center;">Função</th>
							<th style="padding: 20px; text-align: center;">Salário</th>
							<th style="padding: 20px; text-align: center;">Admissão</th>
							<th style="padding: 20px; text-align: center;">Ações</th>
							<!-- Adicione mais colunas conforme necessário -->
						</tr>
					</thead>
					<tbody>
						<tr th:each="funcionario, i : ${listar_funcionarios}" th:class="${i.odd}? 'odd' : 'even'">
							<td th:text="${funcionario.id}" style="padding: 20px; text-align: center;">ID do
								Funcionario </td>

							<td th:text="${funcionario.nome}" style="padding: 20px; text-align: center;">Nome do
								Funcionario </td>

							<td th:text="${funcionario.Usuario.email}" style="padding: 20px; text-align: center;">
								Email do Funcionario</td>

							<td th:text="${funcionario.cpf}" style="padding: 20px; text-align: center;">CPF do
								Funcionario </td>

							<td th:text="${funcionario.telefone}" style="padding: 20px; text-align: center;">
								Telefone do Funcionario</td>

							<td th:text="${funcionario.funcao}" style="padding: 20px; text-align: center;"> Função
								do Funcionario</td>

							<td th:text="${funcionario.salario}" style="padding: 20px; text-align: center;"> Salario
								do Funcionario</td>

							<td th:text="${funcionario.dataAdimissao}" style="padding: 20px; text-align: center;">
								Data de Adimissão do Funcionario</td>

							<td style="padding: 20px; text-align: center;">

								<a th:href="@{/funcionario/atualizar/{id}(id=${funcionario.id})}"
									class="btn btn-primary rounded-pill px-3">Editar</a> &nbsp;

								<a th:href="@{/funcionario/deletarGerencia/{id}(id=${funcionario.id})}"
									class="btn btn-danger rounded-pill px-3"
									onclick="return confirmDelete()">Deletar</a>
							</td>
						</tr>
					</tbody>
				</table>

			</main>

		</div>
	</div>

</body>

</html>