<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>

	<link th:replace="~{layoutGerencia :: fragmento-head}">

	<style>
		.odd {
			background-color: #f2f2f2;
			/* Define a cor de fundo para linhas ímpares */
		}

		.even {
			background-color: #ffffff;
			/* Define a cor de fundo para linhas pares */
		}
	</style>

</head>

<body>

	<link th:replace="~{layoutGerencia :: fragmento-header}">

	<div class="container-fluid sidebar">
		<div class="row">
			<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
				<div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
					aria-labelledby="sidebarMenuLabel">

					<link th:replace="~{layoutGerencia :: fragmento-lateral}">

				</div>
			</div>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">Gerenciar Produtos - Adicionar</h1>
				</div>

				<form th:action="@{/produto/cadastrar}" th:object="${produto}" method="post">

					<div class="row g-3">
						<div class="col-6">
							<label for="nome" class="form-label">Nome</label>
							<input type="text" class="form-control" th:field="*{nome}" required />
							<div th:if="${#fields.hasErrors('nome')}">
								<span th:each="err : ${#fields.errors('nome')}" th:text="${err}">Erro</span>
							</div>
						</div>

						<div class="col-6">
							<label for="descricao" class="form-label">Descrição</label>
							<input type="text" class="form-control" th:field="*{descricao}" required>
							<div th:if="${#fields.hasErrors('descricao')}">
								<span th:each="err : ${#fields.errors('descricao')}" th:text="${err}">Erro</span>
							</div>
						</div>

						<div class="col-6">
							<label for="preco" class="form-label">Preço</label>
							<input type="number" class="form-control" th:field="*{preco}" required
								min="0" step="any">
							<div th:if="${#fields.hasErrors('preco')}">
								<span th:each="err : ${#fields.errors('preco')}" th:text="${err}">Erro</span>
							</div>
						</div>

						<div class="col-6">
							<label for="quantidade" class="form-label">Quantidade em Estoque</label>
							<input type="text" class="form-control" th:field="*{quantidadeEstoque}" required>
							<div th:if="${#fields.hasErrors('quantidadeEstoque')}">
								<span th:each="err : ${#fields.errors('quantidadeEstoque')}" th:text="${err}">Erro</span>
							</div>
						</div>

						<div class="col-12">
							<button type="submit" class="btn btn-primary">Adicionar</button>
						</div>
					</div>
				</form>

			</main>

		</div>
	</div>

</body>

</html>