<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Cadastro</title>

	<link th:replace="~{layoutBase :: fragmento-head}">

</head>

<body>

	<link th:replace="~{layoutBase :: fragmento-header}">

	<link th:replace="~{layoutBase :: fragmento-simbolos}">

	<main class="d-flex justify-content-center align-items-center" style="min-height: 100vh; margin-top: -100px;">
		<div class="col-md-7 col-lg-8">
			<h4 class="mb-3">Informações Pessoais</h4>

			<form th:action="@{/cliente/cadastro}" method="post" th:object="${cliente}">
				<div class="row g-3">
					<div class="col-12">
						<label for="nome" class="form-label">Nome Completo</label>
						<input type="text" class="form-control" th:field="*{nome}" required />

						<div th:if="${#fields.hasErrors('nome')}">
							<span th:each="err : ${#fields.errors('nome')}" th:text="${err}">Erro</span>
						</div>
					</div>

					<div class="col-12">
						<label for="phone" class="form-label">Telefone</label>
						<input type="text" class="form-control" th:field="*{telefone}" placeholder="(22) 99876-4321"
							required>
							<div th:if="${#fields.hasErrors('telefone')}">
								<span th:each="err : ${#fields.errors('telefone')}" th:text="${err}">Erro</span>
							</div>
					</div>

					<div class="col-12">
						<label for="cpf" class="form-label">CPF</label>
						<input type="text" class="form-control" th:field="*{cpf}" placeholder="123.456.789-00" required>
						<div th:if="${#fields.hasErrors('cpf')}">
							<span th:each="err : ${#fields.errors('cpf')}" th:text="${err}">Erro</span>
						</div>
					</div>

					<div class="col-12">
						<label for="email" class="form-label">Email</label>
						<input type="email" class="form-control" th:field="*{usuario.email}"
							placeholder="you@example.com">
						<div th:if="${#fields.hasErrors('usuario.email')}">
							<span th:each="err : ${#fields.errors('usuario.email')}" th:text="${err}">Erro</span>
						</div>
					</div>

					<div class="col-6 mb-3">
						<label for="password" class="form-label">Senha</label>
						<input type="password" class="form-control" th:field="*{usuario.senha}" placeholder="" required>
					</div>

					<div class="col-6 mb-3">
						<label for="confirmPassword" class="form-label">Confirmar Senha</label>
						<input type="password" class="form-control" id="confirmPassword" placeholder="" required>
					</div>

					<div class="col-12 form-check">
						<input type="checkbox" class="form-check-input" id="terms">
						<label class="form-check-label" for="terms">Aceitar termos e condições</label>
					</div>

					<div class="col-12 form-check">
						<input type="checkbox" class="form-check-input" id="offers">
						<label class="form-check-label" for="offers">Receber ofertas e promoções por email</label>
					</div>

				</div>
				<div class="col-12 mt-3">
					<button type="submit" class="btn btn-primary">Criar conta</button>
				</div>
			</form>


		</div>
	</main>

	<link th:replace="~{layoutBase :: fragmento-Dark-Light}">

	<link th:replace="~{layoutBase :: fragmento-footer}">

</body>

</html>