<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<title>FAQs</title>

	<link th:replace="~{layoutBase :: fragmento-head}">

</head>

<body>

	<link th:replace="~{layoutBase :: fragmento-header}">

	<link th:replace="~{layoutBase :: fragmento-simbolos}">

	<main class="mt-5">
		<div class="container">
			<h2 class="mb-4 text-center">Perguntas Frequentes</h2>

			<div class="accordion" id="faqAccordion">
				<div class="accordion-item">
					<h3 class="accordion-header" id="headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Como faço para fazer um pedido?
						</button>
					</h3>
					<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
						data-bs-parent="#faqAccordion">
						<div class="accordion-body">
							Para fazer um pedido, basta navegar em nosso site, adicionar os produtos desejados ao
							carrinho e seguir as instruções de checkout.
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h3 class="accordion-header" id="headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Quais são os métodos de pagamento aceitos?
						</button>
					</h3>
					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
						data-bs-parent="#faqAccordion">
						<div class="accordion-body">
							Aceitamos pagamentos via cartão de crédito, transferência bancária e PayPal.
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h3 class="accordion-header" id="headingThree">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Qual é a política de devolução?
						</button>
					</h3>
					<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
						data-bs-parent="#faqAccordion">
						<div class="accordion-body">
							Nossa política de devolução permite que você devolva produtos não utilizados dentro de 30
							dias após a compra para obter um reembolso total.
						</div>
					</div>
				</div>

				<!-- Adicione mais perguntas conforme necessário -->

				<div class="accordion-item">
					<h3 class="accordion-header" id="headingFour">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							Qual é o prazo de entrega dos produtos?
						</button>
					</h3>
					<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
						data-bs-parent="#faqAccordion">
						<div class="accordion-body">
							O prazo de entrega pode variar dependendo da sua localização e da disponibilidade dos
							produtos. Geralmente, tentamos entregar dentro de 3-5 dias úteis.
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h3 class="accordion-header" id="headingFive">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
							Vocês oferecem frete grátis?
						</button>
					</h3>
					<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
						data-bs-parent="#faqAccordion">
						<div class="accordion-body">
							Sim, oferecemos frete grátis para pedidos acima de R$200,00 para todo o Brasil.
						</div>
					</div>
				</div>

				<!-- Adicione mais perguntas conforme necessário -->

			</div>
		</div>

		<section class="mt-5">
			<div class="container">
				<h2 class="mb-4 text-center">Envie sua Dúvida</h2>
				<form>
					<div class="mb-3">
						<label for="name" class="form-label">Nome</label>
						<input type="text" class="form-control" id="name" placeholder="Seu Nome">
					</div>
					<div class="mb-3">
						<label for="email" class="form-label">Email</label>
						<input type="email" class="form-control" id="email" placeholder="seuemail@example.com">
					</div>
					<div class="mb-3">
						<label for="message" class="form-label">Mensagem</label>
						<textarea class="form-control" id="message" rows="5"
							placeholder="Digite sua mensagem aqui"></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Enviar</button>
				</form>
			</div>
		</section>

	</main>

	<link th:replace="~{layoutBase :: fragmento-Dark-Light}">

	<link th:replace="~{layoutBase :: fragmento-footer}">

</body>

</html>