<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>

	<link th:replace="~{layoutGerencia :: fragmento-head}">

	<style>
		.odd {
			background-color: #f2f2f2;
			/* Define a cor de fundo para linhas ímpares */
		}

		.even {
			background-color: #ffffff;
			/* Define a cor de fundo para linhas pares */
		}
	</style>

</head>

<body>

	<link th:replace="~{layoutGerencia :: fragmento-header}">

	<div class="container-fluid sidebar">
		<div class="row">
			<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
				<div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
					aria-labelledby="sidebarMenuLabel">

					<link th:replace="~{layoutGerencia :: fragmento-lateral}">

				</div>
			</div>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

				<div th:if="${adicionar_funcionario != null}">

					<div
						class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h1 class="h2">Gerenciar Funcionarios - Adicionar</h1>
					</div>

					<form class="needs-validation" novalidate action="#" th:action="@{/funcionario/cadastrarGerencia}"
						th:object="${adicionar_funcionario}" method="post">
						<div class="row g-3">

							<div class="col-6">
								<label for="nome" class="form-label">Nome Completo</label>
								<input type="text" class="form-control" th:field="*{nome}" required />
								<div class="invalid-feedback">
									O nome é obrigatório.
								</div>
							</div>

							<div class="col-6">
								<label for="phone" class="form-label">Telefone</label>
								<input type="text" class="form-control" th:field="*{telefone}"
									placeholder="(22) 99876-4321" required>
								<div class="invalid-feedback">
									Por favor, forneça um número de telefone válido.
								</div>
							</div>

							<div class="col-6">
								<label for="cpf" class="form-label">CPF</label>
								<input type="text" class="form-control" th:field="*{cpf}" placeholder="123.456.789-00"
									required>
								<div class="invalid-feedback">
									Por favor, forneça um CPF válido.
								</div>
							</div>

							<div class="col-6">
								<label for="cpf" class="form-label">Salário</label>
								<input type="text" class="form-control" th:field="*{salario}" required>
								<div class="invalid-feedback">
									Por favor, forneça um salário válido.
								</div>
							</div>

							<div class="col-6">
								<label for="cpf" class="form-label">Função</label>
								<input type="text" class="form-control" th:field="*{funcao}" required>
								<div class="invalid-feedback">
									Por favor, forneça um salário válido.
								</div>
							</div>

							<div class="col-6">
								<label for="cpf" class="form-label">Data de admissão</label>
								<input type="text" class="form-control" th:field="*{dataAdimissao}" required>
								<div class="invalid-feedback">
									Por favor, forneça um salário válido.
								</div>
							</div>



							<div class="col-6">
								<label for="email" class="form-label">Email</label>
								<input type="email" class="form-control" id="email" name="email"
									th:field="*{Usuario.email}" placeholder="you@example.com">
								<div class="invalid-feedback">
									Por favor, insira um endereço de e-mail válido.
								</div>
							</div>

							<div class="col-6 mb-3">
								<label for="password" class="form-label">Senha</label>
								<input type="password" class="form-control" id="senha" name="senha"
									th:field="*{Usuario.senha}" required>
								<div class="invalid-feedback">
									Por favor, forneça uma senha valida.
								</div>
							</div>

							<div class="col-12">
								<button type="submit" class="btn btn-primary">Adicionar</button>
							</div>
						</div>
					</form>



				</div>


				<div th:if="${listar_funcionarios != null}">

					<script>
						function confirmDelete() {
							if (confirm('Tem certeza que deseja deletar este funcionario?')) {
								// Exibe a mensagem de sucesso após a confirmação
								alert('Funcionario deletado com sucesso.');
								return true; // Continua com a exclusão
							} else {
								return false; // Cancela a exclusão
							}
						}
					</script>

					<div
						class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h1 class="h2">Gerenciar Funcionarios - Listar</h1>
					</div>

					<table>
						<thead>
							<tr>
								<th style="padding: 20px; text-align: center;">ID</th>
								<th style="padding: 20px; text-align: center;">Nome</th>
								<th style="padding: 20px; text-align: center;">Email</th>
								<th style="padding: 20px; text-align: center;">CPF</th>
								<th style="padding: 20px; text-align: center;">Telefone</th>
								<th style="padding: 20px; text-align: center;">Função</th>
								<th style="padding: 20px; text-align: center;">Salário</th>
								<th style="padding: 20px; text-align: center;">Admissão</th>
								<th style="padding: 20px; text-align: center;">Ações</th>
								<!-- Adicione mais colunas conforme necessário -->
							</tr>
						</thead>
						<tbody>
							<tr th:each="funcionario, i : ${listar_funcionarios}" th:class="${i.odd}? 'odd' : 'even'">
								<td th:text="${funcionario.id}" style="padding: 20px; text-align: center;">ID do
									Funcionario </td>

								<td th:text="${funcionario.nome}" style="padding: 20px; text-align: center;">Nome do
									Funcionario </td>

								<td th:text="${funcionario.Usuario.email}" style="padding: 20px; text-align: center;">
									Email do Funcionario</td>

								<td th:text="${funcionario.cpf}" style="padding: 20px; text-align: center;">CPF do
									Funcionario </td>

								<td th:text="${funcionario.telefone}" style="padding: 20px; text-align: center;">
									Telefone do Funcionario</td>

								<td th:text="${funcionario.funcao}" style="padding: 20px; text-align: center;"> Função
									do Funcionario</td>

								<td th:text="${funcionario.salario}" style="padding: 20px; text-align: center;"> Salario
									do Funcionario</td>

								<td th:text="${funcionario.dataAdimissao}" style="padding: 20px; text-align: center;">
									Data de Adimissão do Funcionario</td>

								<td style="padding: 20px; text-align: center;">

									<a th:href="@{/funcionario/editar/{id}(id=${funcionario.id})}"
										class="btn btn-primary rounded-pill px-3">Editar</a> &nbsp;

									<a th:href="@{/funcionario/deletarGerencia/{id}(id=${funcionario.id})}"
										class="btn btn-danger rounded-pill px-3"
										onclick="return confirmDelete()">Deletar</a>
								</td>
							</tr>
						</tbody>
					</table>


				</div>


				<div th:if="${editar_funcionario != null}">
					<div
						class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h1 class="h2">Gerenciar Funcionarios - Editar</h1>
					</div>

					<form class="needs-validation" novalidate th:action="@{/funcionario/atualizar/{id}(id=${editar_funcionario.id})}" th:object="${editar_funcionario}" method="post">
						
						<div class="row g-3">
							<div class="col-6">
								<label for="nome" class="form-label">Nome Completo</label>
								
								<input type="text" class="form-control" th:field="*{nome}" required />
								
								<div class="invalid-feedback"> O nome é obrigatório.</div>
							</div>

							<div class="col-6">
								<label for="phone" class="form-label">Telefone</label>
								<input type="text" class="form-control" th:field="*{telefone}"
									placeholder="(22) 99876-4321" required>
								<div class="invalid-feedback">
									Por favor, forneça um número de telefone válido.
								</div>
							</div>

							<div class="col-6">
								<label for="cpf" class="form-label">CPF</label>
								<input type="text" class="form-control" th:field="*{cpf}" placeholder="123.456.789-00"
									required>
								<div class="invalid-feedback">
									Por favor, forneça um CPF válido.
								</div>
							</div>

							<div class="col-6">
								<label for="salario" class="form-label">Salário</label>
								<input type="text" class="form-control" th:field="*{salario}" required>
								<div class="invalid-feedback">
									Por favor, forneça um salário válido.
								</div>
							</div>

							<div class="col-6">
								<label for="funcao" class="form-label">Função</label>
								<input type="text" class="form-control" th:field="*{funcao}" required>
								<div class="invalid-feedback">
									Por favor, forneça um salário válido.
								</div>
							</div>

							<div class="col-6">
								<label for="data" class="form-label">Data de admissão</label>
								<input type="text" class="form-control" th:field="*{dataAdimissao}" required>
								<div class="invalid-feedback">
									Por favor, forneça um salário válido.
								</div>
							</div>

							<div class="col-6">
								<label for="email" class="form-label">Email</label>
								<input type="email" class="form-control" id="email" name="email"
									th:field="*{Usuario.email}" placeholder="you@example.com">
								<div class="invalid-feedback">
									Por favor, insira um endereço de e-mail válido.
								</div>
							</div>

							<div class="col-6 mb-3">
								<label for="password" class="form-label">Senha</label>
								<input type="password" class="form-control" id="senha" name="senha"
									th:field="*{Usuario.senha}" required>
								<div class="invalid-feedback">
									Por favor, forneça uma senha valida.
								</div>
							</div>

							<div class="col-12">
								<button type="submit" class="btn btn-primary">Atualizar</button>
							</div>
						</div>
					</form>
				</div>




			</main>

		</div>
	</div>

</body>

</html>